.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.num{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    padding: 1rem;
    background-image: linear-gradient(to right, red, blue);
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.btn{
    
}